<%-include("./partials/header")-%>
<script type="text/javascript" src="js/characterSelect.js"></script>




<body id='body' class="items-center flex">
  <main>

    <div class="absolute top-0 -z-10" id="selectedcharacter">

    </div>

    <div id="team">

      <%-include("./partials/team")-%>
    </div>
    <div class="flex  flex-wrap">
      <% for (let i=0; i < characters.length; i++) { %>

      <button data-selecting-agent-id="<%= characters[i].id %>" data-bg-color="<%= characters[i].backgroundColor %>" class="agent disabled:bg-gray-300 disabled:filter disabled:grayscale disabled:shadow-xl disabled:cursor-pointer" hx-target="#selectedcharacter" hx-swap="innerHTML" hx-get="/select/<%= characters[i].id %>" hx-swap="innerhtml">
        <img src="<%= characters[i].images.icon.url %>" alt="">
      </button>
      <% } %>

    </div>
    <div class="flex gap-2 z-30 justify-center">
      <button id="team_select_button" hx-target="#team" hx-get="add" hx-post="add">
        Select
      </button>
      <button hx-target="#body" hx-get="reset">
        reset
      </button>
    </div>
  </main>
</body>

</html>