<%-include("./partials/header")-%>
  <script type="text/javascript">
        function codeAddress() {
        document.querySelectorAll('.agent').forEach(node => {
          const color  = (node.getAttribute('data-bg-color'))
          node.addEventListener('click', e => {
            document.getElementById("body").style.backgroundColor = color
          })
        })
        }
        window.onload = codeAddress;
        </script>



  <body  id='body' class="items-center flex">
    <main>

      <div class="absolute top-0 -z-10" id="selectedcharacter">
         
      </div>

      <div id="team">

<%-include("./partials/team")-%>
      </div>
      <div class="flex  flex-wrap">
        <% for (let i=0; i < characters.length; i++) { %>

          <div data-bg-color="<%= characters[i].backgroundColor %>" 
          class="agent"   hx-target="#selectedcharacter" hx-swap="innerHTML" hx-get="/select/<%= characters[i].id %>" hx-swap="innerhtml">
            <img src="<%= characters[i].icon.url %>" alt="">
          </div>

          <% } %>

      </div>
      <div   class="flex gap-2 z-30 justify-center">
          <button hx-target="#team" hx-get="add">
          Select
          </button>
          <button hx-target="#team" hx-get="reset">
          reset
          </button>
      </div>
    </main>

  </body>

  </html>